<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="js/jquery.blockUI.js"></script>
  <script src="js/app.js"></script>
</head>
<style>
    .col-sm-2 div:first-child{
        text-align: center;
    }
    .alert{
    width: 350px;
    top: 5px;
    position: absolute;
    right: 5px;
    display: none;
        }
    button{
            display: block !important;
            margin: 50px auto;
            width: 350px;
    }
    .text-center{
        height: 100px;
        background-image: linear-gradient(45deg, #f9f2f2, #b6d3f3);
    }
</style>
<body>

        <div class="text-center">
                <h1>Thêm người dùng và điểm</h1>
                <div class="navbar-header">
                  <a class="navbar-brand" href="user-list.html">Sinh viên</a>
                  <a class="navbar-brand" href="subject-list.html">Môn Học</a>
                </div>
              </div>
        <div class="container">

                <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Họ tên</label>
                          <input id="ho-ten" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Lớp</label>
                          <input id="lop" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter class">
                        </div>

                </form>

                <div class="row">
                        <div class="col-sm-2">
                            <div>Toán</div>
                            <span>Điểm học phần</span>
                            <input required name="toan1" type="number" min="0" max="10" class="form-control">
                            <span>Điểm thi</span>
                            <input name="toan2" type="number" min="0" max="10" class="form-control">
                        </div>
                        <div class="col-sm-2">
                                <div>Lý</div>
                                <span>Điểm học phần</span>
                                <input  name="ly1" type="number" min="0" max="10" class="form-control">
                                <span>Điểm thi</span>
                                <input name="ly2" type="number" min="0" max="10" class="form-control">
                        </div>
                        <div class="col-sm-2">
                                <div>Hóa</div>
                                <span>Điểm học phần</span>
                                <input name="hoa1" type="number" min="0" max="10" class="form-control">
                                <span>Điểm thi</span>
                                <input name="hoa2" type="number" min="0" max="10" class="form-control">
                        </div>
                        <div class="col-sm-2">
                                <div>Văn</div>
                                <span>Điểm học phần</span>
                                <input name="van1" type="number" min="0" max="10" class="form-control">
                                <span>Điểm thi</span>
                                <input name="van2" type="number" min="0" max="10" class="form-control">
                        </div>
                        <div class="col-sm-2">
                                <div>Sử</div>
                                <span>Điểm học phần</span>
                                <input name="su1" type="number" min="0" max="10" class="form-control">
                                <span>Điểm thi</span>
                                <input name="su2" type="number" min="0" max="10" class="form-control">
                        </div>
                        <div class="col-sm-2">
                                <div>Địa</div>
                                <span>Điểm học phần</span>
                                <input name="dia1" type="number" min="0" max="10" class="form-control">
                                <span>Điểm thi</span>
                                <input name="dia2" type="number" min="0" max="10" class="form-control">
                        </div>
                </div>
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="myAlert-bottom alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Thêm thành công</strong>
        </div>
        <div class="myAlert-bottom alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Không thể kết nối tới server</strong>
        </div>
    <script src="js/insert.js"></script>
</body>
</html>
